.bitacora-section {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   /* 👈 el contenido arranca arriba */
    justify-content: flex-start; /* 👈 evita que se centre */
}

.bitacora-section h2 {
    margin-bottom: 2rem;
    color: var(--color3);
}

.bitacora-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.bitacora-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    flex: 1;
}

/* Flechas */
.icon-arrow {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: opacity 0.3s;
}

/* Nuevo estilo para alinear al final */
.icon-arrow.align-end {
 align-self: flex-end;
}

/* Placeholders invisibles para mantener la grilla en 6 */
.placeholder {
    visibility: hidden;
}
