.dibujos-section {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 100vh;
}

.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0;

}