.proyectos-section {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 👈 Aligns content to the start */
    justify-content: flex-start; /* 👈 Prevents centering */
}

.proyectos-section h2 {
    align-self: flex-start;
    margin-bottom: 2rem;
    color: var(--color3);
}

.proyectos-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.proyectos-container {
    display: grid;
    /* Define 3 columns of equal size */
    grid-template-columns: repeat(3, 1fr);
    /* Add space between cells */
    gap: 40px;
    justify-content: center; /* Center the cards horizontally */
    flex: 1;
}

/* Flechas */
.icon-arrow {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: opacity 0.3s;
}

/* New style to align at the end */
.icon-arrow.align-end {
 align-self: flex-end;
}

/* Invisible placeholders to maintain the 6-item grid */
.placeholder {
    visibility: hidden;
}


@media (min-width: 319px) and (max-width: 768px) {
    .proyectos-section {
    padding-left: 5%;
    padding-right: 5%;
}

}